!!!                                    
%html
  %head
    %title FakeSecret
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag :all    
    -#TODO use jquery
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %div{:class => Rails.env.development? ? [:container, :showgrid] : [:container]}
      = yield